@font-face {
    font-family: 'fira_sanslight';
    src: font_url('firasans-light-webfont.woff2') format('woff2'),
         font_url('firasans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}